.container-fluid
  - if user_signed_in?
    %h1 Oaisoマイページ
    %p
      = current_user.name
      様、ようこそ。
    .row.mx-auto
      - if Settings.app['order'] == true
        .card.pt1em
          .card-body
            %h4.card-title Oaiso!
            %h6.card-subtitle.mb-2.text-muted 購入サービス
            %p.card-text おあいそ！によりあなたの注文券を獲得することができます。
            %a.card-link{:href => "#"} Card link
            %a.card-link{:href => "#"} Another link
      - else
        .card.pt1em
          .card-body
            %h4.card-title Oaiso!コードの表示
            %h6.card-subtitle.mb-2.text-muted Get Oaiso! code
            %p.card-text Oaiso!コードが必要な際にこの画面から表示できます。
            %a.card-link{"data-target" => "#AboutOaiso", "data-toggle" => "modal", :type => "button", :href => "#"} 情報を見る
      .card.pt1em
        .card-body
          %h4.card-title 購入履歴
          %h6.card-subtitle.mb-2.text-muted Purchace History
          %p.card-text Oaiso!で購入した商品の一覧です。ここから受け取りコード・Oaiso!コードも発行できます。
          %a.card-link{:href => "#"} Card link
          %a.card-link{:href => "#"} Another link
      .card.pt1em
        .card-body
          %h4.card-title ご利用者情報の変更
          %h6.card-subtitle.mb-2.text-muted Edit Account
          %p.card-text アカウント登録情報（名前・メールアドレス・パスワード）の変更ができます。
          =link_to edit_user_registration_path, method: :get do
            進む
    / Modal
    #AboutOaiso.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "AboutOaisoTitle", :role => "dialog", :tabindex => "-1"}
      .modal-dialog.modal-dialog-centered{:role => "document"}
        .modal-content
          .modal-header
            %h5#AboutOaisoTitle.modal-title Oaiso! Code
            %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
              %span{"aria-hidden" => "true"} ×
          .modal-body
            = qrcode "Hello world"
            %hr
            %h3 ユーザー情報（手動入力用）
            %button#shower.btn.btn-success{:onclick => "document.getElementById('hidden').style.display='block';document.getElementById('shower').style.display='none';"} 表示する
            #hidden{ :style => 'display: none;' }

              %button#shower.btn.btn-success{:onclick => "document.getElementById('hidden').style.display='none';document.getElementById('shower').style.display='block';"} 隠す
              .row
                %p.col-4 登録名
                %span.col-8= current_user.name
              .row
                %p.col-4 ユーザー番号
                %span.col-8= current_user.id
              .row
                %p.col-4 Eメール
                %span.col-8= current_user.email
          .modal-footer
            %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} 閉じる

  - else
    %h1 Oaiso
    %p
      Oaisoへようこそ。


:css
  .pt1em {
    margin: 1em
  }
  .card{
    width: 48%;
  }
  @media screen and (max-width:480px) {
    .card{
      width: 90%;
    }
  }
  