.container-fluid
  %h2 ログイン
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .form-group.row
      = f.label :email, class: "col-sm-1 col-form-label"
      .col-sm-11
        = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control mono"
    - if @minimum_password_length
      %span.font-weight-bold
        (#{@minimum_password_length} 文字以上のパスワードを設定します)
    .form-group.row
      = f.label :password, class: "col-sm-1 col-form-label"
      .col-sm-11
        = f.password_field :password, autocomplete: "current-password", class: "form-control mono"
    - if devise_mapping.rememberable?
      .field{style: "margin-left: 1em;"}
        = f.check_box :remember_me, class: "form-check-input"
        = f.label :remember_me
    .actions
      = f.submit "Log in", class: "btn btn-primary"
  = render "devise/shared/links"
